## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df= application_df.drop(columns=["EIN","NAME"],axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_counts=df["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=list(app_counts[app_counts <250].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
clas_count= application_df["CLASSIFICATION"].value_counts()

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
clas_new= clas_count[clas_count>1]
clas_new

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=list(clas_count[clas_count<500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [11]:
# Generate our categorical variable lists
num_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
num_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df= pd.get_dummies(application_df)
application_df

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,996010315,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,996012607,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,996015768,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,996086871,1,36500179,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [27]:
# Split our preprocessed data into our features and target arrays
# Remove diabetes outcome target from features data
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42,test_size = 0.2, stratify=y)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [94]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  7
hidden_nodes_layer2 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_19"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_57 (Dense)             (None, 7)                 137298
_________________________________________________________________
dense_58 (Dense)             (None, 4)                 32
_________________________________________________________________
dense_59 (Dense)             (None, 1)                 5
=================================================================
Total params: 137,335
Trainable params: 137,335
Non-trainable params: 0
_________________________________________________________________

In [95]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [96]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Train on 27439 samples
Epoch 1/100
27439/27439 [==============================] - 6s 205us/sample - loss: 0.6354 - accuracy: 0.7333
Epoch 2/100
27439/27439 [==============================] - 5s 171us/sample - loss: 0.3557 - accuracy: 0.8756
Epoch 3/100
27439/27439 [==============================] - 5s 175us/sample - loss: 0.2099 - accuracy: 0.9266
Epoch 4/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.1627 - accuracy: 0.9421
Epoch 5/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.1321 - accuracy: 0.9560
Epoch 6/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.1187 - accuracy: 0.9581 - l
Epoch 7/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.1108 - accuracy: 0.9601
Epoch 8/100
27439/27439 [==============================] - 5s 168us/sample - loss: 0.1069 - accuracy: 0.9603
Epoch 9/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.1039 - accuracy: 0.9612
Epoch 10/100
27439/27439 [==============================] - 5s 165us/sample - loss: 0.1027 - accuracy: 0.9609
Epoch 11/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.1017 - accuracy: 0.9611
Epoch 12/100
27439/27439 [==============================] - 5s 166us/sample - loss: 0.1009 - accuracy: 0.9607
Epoch 13/100
27439/27439 [==============================] - 5s 165us/sample - loss: 0.1002 - accuracy: 0.9615
Epoch 14/100
27439/27439 [==============================] - 5s 168us/sample - loss: 0.0993 - accuracy: 0.9614
Epoch 15/100
27439/27439 [==============================] - 5s 166us/sample - loss: 0.0987 - accuracy: 0.9612
Epoch 16/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0979 - accuracy: 0.9621
Epoch 17/100
27439/27439 [==============================] - 5s 192us/sample - loss: 0.0976 - accuracy: 0.9608
Epoch 18/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0972 - accuracy: 0.9614
Epoch 19/100
27439/27439 [==============================] - 5s 168us/sample - loss: 0.0968 - accuracy: 0.9614
Epoch 20/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0963 - accuracy: 0.9620
Epoch 21/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0963 - accuracy: 0.9620
Epoch 22/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0959 - accuracy: 0.9616
Epoch 23/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0956 - accuracy: 0.9623
Epoch 24/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0955 - accuracy: 0.9612
Epoch 25/100
27439/27439 [==============================] - 5s 166us/sample - loss: 0.0953 - accuracy: 0.9617
Epoch 26/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0951 - accuracy: 0.9616
Epoch 27/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0952 - accuracy: 0.9616
Epoch 28/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0945 - accuracy: 0.9618
Epoch 29/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0943 - accuracy: 0.9620
Epoch 30/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0943 - accuracy: 0.9623
Epoch 31/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0944 - accuracy: 0.9620
Epoch 32/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0942 - accuracy: 0.9614
Epoch 33/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0939 - accuracy: 0.9625
Epoch 34/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0939 - accuracy: 0.9625
Epoch 35/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0936 - accuracy: 0.9625
Epoch 36/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0939 - accuracy: 0.9623
Epoch 37/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0938 - accuracy: 0.9616
Epoch 38/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0933 - accuracy: 0.9626
Epoch 39/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0931 - accuracy: 0.9629
Epoch 40/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0933 - accuracy: 0.9624
Epoch 41/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0929 - accuracy: 0.9623
Epoch 42/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0930 - accuracy: 0.9621
Epoch 43/100
27439/27439 [==============================] - 5s 167us/sample - loss: 0.0929 - accuracy: 0.9625
Epoch 44/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0926 - accuracy: 0.9624
Epoch 45/100
27439/27439 [==============================] - 5s 168us/sample - loss: 0.0927 - accuracy: 0.9633
Epoch 46/100
27439/27439 [==============================] - 5s 168us/sample - loss: 0.0925 - accuracy: 0.9632
Epoch 47/100
27439/27439 [==============================] - 5s 168us/sample - loss: 0.0925 - accuracy: 0.9628
Epoch 48/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0924 - accuracy: 0.9627
Epoch 49/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0920 - accuracy: 0.9631
Epoch 50/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0922 - accuracy: 0.9626
Epoch 51/100
27439/27439 [==============================] - 5s 170us/sample - loss: 0.0920 - accuracy: 0.9633
Epoch 52/100
27439/27439 [==============================] - 5s 170us/sample - loss: 0.0918 - accuracy: 0.9636
Epoch 53/100
27439/27439 [==============================] - 5s 173us/sample - loss: 0.0917 - accuracy: 0.9636
Epoch 54/100
27439/27439 [==============================] - 5s 175us/sample - loss: 0.0919 - accuracy: 0.9635
Epoch 55/100
27439/27439 [==============================] - 5s 173us/sample - loss: 0.0918 - accuracy: 0.9632
Epoch 56/100
27439/27439 [==============================] - 5s 172us/sample - loss: 0.0917 - accuracy: 0.9637
Epoch 57/100
27439/27439 [==============================] - 5s 175us/sample - loss: 0.0916 - accuracy: 0.9635
Epoch 58/100
27439/27439 [==============================] - 5s 173us/sample - loss: 0.0914 - accuracy: 0.9635
Epoch 59/100
27439/27439 [==============================] - 5s 174us/sample - loss: 0.0914 - accuracy: 0.9628
Epoch 60/100
27439/27439 [==============================] - 5s 173us/sample - loss: 0.0914 - accuracy: 0.9636
Epoch 61/100
27439/27439 [==============================] - 5s 182us/sample - loss: 0.0912 - accuracy: 0.9638
Epoch 62/100
27439/27439 [==============================] - 5s 179us/sample - loss: 0.0910 - accuracy: 0.9633
Epoch 63/100
27439/27439 [==============================] - 6s 202us/sample - loss: 0.0909 - accuracy: 0.9637
Epoch 64/100
27439/27439 [==============================] - 5s 181us/sample - loss: 0.0914 - accuracy: 0.9634
Epoch 65/100
27439/27439 [==============================] - 5s 170us/sample - loss: 0.0910 - accuracy: 0.9635
Epoch 66/100
27439/27439 [==============================] - 5s 174us/sample - loss: 0.0908 - accuracy: 0.9643
Epoch 67/100
27439/27439 [==============================] - 5s 171us/sample - loss: 0.0908 - accuracy: 0.9633
Epoch 68/100
27439/27439 [==============================] - 5s 171us/sample - loss: 0.0907 - accuracy: 0.9635
Epoch 69/100
27439/27439 [==============================] - 5s 177us/sample - loss: 0.0907 - accuracy: 0.9639
Epoch 70/100
27439/27439 [==============================] - 5s 181us/sample - loss: 0.0906 - accuracy: 0.9640
Epoch 71/100
27439/27439 [==============================] - 5s 185us/sample - loss: 0.0902 - accuracy: 0.9645
Epoch 72/100
27439/27439 [==============================] - 5s 179us/sample - loss: 0.0905 - accuracy: 0.9642
Epoch 73/100
27439/27439 [==============================] - 5s 175us/sample - loss: 0.0901 - accuracy: 0.9638
Epoch 74/100
27439/27439 [==============================] - 5s 176us/sample - loss: 0.0902 - accuracy: 0.9641
Epoch 75/100

27439/27439 [==============================] - 5s 167us/sample - loss: 0.0903 - accuracy: 0.9640
Epoch 76/100
27439/27439 [==============================] - 5s 165us/sample - loss: 0.0899 - accuracy: 0.9642
Epoch 77/100
27439/27439 [==============================] - 5s 174us/sample - loss: 0.0900 - accuracy: 0.9634
Epoch 78/100
27439/27439 [==============================] - 5s 175us/sample - loss: 0.0900 - accuracy: 0.9637
Epoch 79/100
27439/27439 [==============================] - 5s 182us/sample - loss: 0.0896 - accuracy: 0.9638
Epoch 80/100
27439/27439 [==============================] - 5s 171us/sample - loss: 0.0901 - accuracy: 0.9637
Epoch 81/100
27439/27439 [==============================] - 5s 168us/sample - loss: 1.7294 - accuracy: 0.8642
Epoch 82/100
27439/27439 [==============================] - 5s 168us/sample - loss: 0.1932 - accuracy: 0.9502
Epoch 83/100
27439/27439 [==============================] - 5s 165us/sample - loss: 0.1519 - accuracy: 0.9541
Epoch 84/100
27439/27439 [==============================] - 4s 164us/sample - loss: 0.1355 - accuracy: 0.9562
Epoch 85/100
27439/27439 [==============================] - 5s 172us/sample - loss: 0.1258 - accuracy: 0.9577
Epoch 86/100
27439/27439 [==============================] - 5s 178us/sample - loss: 0.1165 - accuracy: 0.9593
Epoch 87/100
27439/27439 [==============================] - 5s 174us/sample - loss: 0.1101 - accuracy: 0.9602
Epoch 88/100
27439/27439 [==============================] - 5s 170us/sample - loss: 0.1067 - accuracy: 0.9606
Epoch 89/100
27439/27439 [==============================] - 5s 178us/sample - loss: 0.1035 - accuracy: 0.9616
Epoch 90/100
27439/27439 [==============================] - 5s 172us/sample - loss: 0.1013 - accuracy: 0.9613
Epoch 91/100
27439/27439 [==============================] - 5s 178us/sample - loss: 0.0992 - accuracy: 0.9619
Epoch 92/100
27439/27439 [==============================] - 5s 188us/sample - loss: 0.0980 - accuracy: 0.9625
Epoch 93/100
27439/27439 [==============================] - 5s 179us/sample - loss: 0.0968 - accuracy: 0.9618
Epoch 94/100
27439/27439 [==============================] - 5s 178us/sample - loss: 0.0958 - accuracy: 0.9624
Epoch 95/100
27439/27439 [==============================] - 5s 180us/sample - loss: 0.0949 - accuracy: 0.9626
Epoch 96/100
27439/27439 [==============================] - 5s 169us/sample - loss: 0.0947 - accuracy: 0.9629
Epoch 97/100
27439/27439 [==============================] - 5s 172us/sample - loss: 0.0947 - accuracy: 0.9630
Epoch 98/100
27439/27439 [==============================] - 5s 174us/sample - loss: 0.0943 - accuracy: 0.9624
Epoch 99/100
27439/27439 [==============================] - 5s 177us/sample - loss: 0.0945 - accuracy: 0.9633
Epoch 100/100
27439/27439 [==============================] - 5s 166us/sample - loss: 0.0944 - accuracy: 0.9630

In [97]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

6860/1 - 1s - loss: 0.5339 - accuracy: 0.7536
Loss: 0.5284124760516531, Accuracy: 0.7536442875862122

In [99]:
# Export our model to HDF5 file
# Export and save model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")